<% section_group = section.issue_template_section_group %>

<p>
  <%= label_tag do %>
    <%= section.title %>
    <% if section.required %>
      <span class="required"> *</span>
    <% end %>
    <% if section.description.present? %>
      <em class="info" style="padding-top: 3px; line-height: 1.5em;">
        <%= section.description %>
      </em>
    <% end %>
  <% end %>
  <%= form.date_field :text,
                      size: section.select_type == "datetime" ? 14 : 10,
                      no_label: true,
                      required: section.required,
                      value: reload_current_value(@sections_attributes, section.position) || section.text
  %>
  <% field_id = "issue_issue_template_section_groups_attributes_#{section_group.id}_#{group_index}_sections_attributes_#{section.id}_text" %>
  <% if Redmine::Plugin.installed?(:redmine_datetime_custom_field) %>
    <%= calendar_for(field_id, section.select_type == "datetime") %>
  <% else %>
    <%= calendar_for(field_id) %>
  <% end %>
  <%= form.hidden_field :empty_value, value: section.empty_value %>
</p>
