<p>
  <%= label_tag do %>
    <%= section.title %>
    <% if section.required %>
      <span class="required"> *</span>
    <% end %>
    <% if section.description.present? %>
      <em class="info" style="padding-top: 3px; line-height: 1.5em;">
        <%= section.description %>
      </em>
    <% end %>
  <% end %>
  <%= form.text_field :text,
                      size: 80,
                      accesskey: accesskey(:edit),
                      no_label: true,
                      required: section.required,
                      placeholder: section.placeholder,
                      value: reload_current_value(@sections_attributes, section.position) || section.text
  %>
  <%= form.hidden_field :empty_value, value: section.empty_value %>
</p>
