<% description = form.object %>
<p>
  <%= label_tag do %>
    <%= description.title %>
    <% if description.required %>
      <span class="required"> *</span>
    <% end %>
    <% if description.description.present? %>
      <em class="info" style="padding-top: 3px; line-height: 1.5em;">
        <%= description.description %>
      </em>
    <% end %>
  <% end %>
  <%= form.text_area :text,
                     :cols => 60,
                     :accesskey => accesskey(:edit),
                     :class => 'wiki-edit',
                     :rows => [[10, form.object.text.to_s.length / 50].max, 20].min,
                     :data => {
                         :auto_complete => true,
                         :issues_url => auto_complete_issues_path(:project_id => @issue.project, :q => '')
                     },
                     :no_label => true,
                     :required => description.required,
                     :placeholder => description.placeholder,
                     value: reload_current_value(@sections_attributes, description.position) || description.text
  %>
  <%= wikitoolbar_for "issue_issue_template_descriptions_attributes_#{form.index}_text" if description.show_toolbar %>
  <%= form.hidden_field :empty_value, value: description.empty_value %>
</p>
