<p>
  <%= label_tag do %>
    <%= section.title %>
    <% if section.required %>
      <span class="required"> *</span>
    <% end %>
    <% if section.description.present? %>
      <em class="info" style="padding-top: 3px; line-height: 1.5em;">
        <%= section.description %>
      </em>
    <% end %>
  <% end %>
  <%= form.text_area :text,
                     cols: 60,
                     accesskey: accesskey(:edit),
                     class: 'wiki-edit',
                     rows: [[10, section.text.to_s.length / 50].max, 20].min,
                     data: {
                       :auto_complete => true,
                       :issues_url => @issue.present? ? auto_complete_issues_path(:project_id => @issue.project, :q => '') : ''
                     },
                     no_label: true,
                     required: section.required,
                     placeholder: section.placeholder,
                     value: reload_current_value(@sections_attributes, section.position) || section.text
  %>
  <% section_group = section.issue_template_section_group %>
  <% field_id = "issue_issue_template_section_groups_attributes_#{section_group.id}_#{group_index}_sections_attributes_#{section.id}_text" %>
  <%= wikitoolbar_for field_id if section.show_toolbar %>
  <%= form.hidden_field :empty_value, value: section.empty_value %>
</p>
