<% values = reload_current_value(@sections_attributes, section, group_index, get_all_attributes: true) || {} %>
<% default_values = section.placeholder.present? ? section.placeholder.split(';') : [] %>
<% possible_values = section.text.present? ? section.text.split(';') : [] %>
<% section_group = section.issue_template_section_group %>

<p>
  <%= label_tag do %>
    <%= section.title %>
    <% if section.required %>
      <span class="required"> *</span>
    <% end %>
    <% if section.description.present? %>
      <em class="info" style="padding-top: 3px; line-height: 1.5em;">
        <%= section.description %>
      </em>
    <% end %>
  <% end %>

  <% case section.select_type
     when 'checkbox' %>

    <% possible_values.each_with_index do |select_value, value_index| %>
      <% field_name = "issue[issue_template][section_groups_attributes][#{section_group.id}][#{group_index}][sections_attributes][#{section.id}][#{value_index}]" %>
      <%= hidden_field_tag field_name, '', id: nil %>
      <%= check_box_tag field_name, '1',
                        values.present? ? values[value_index.to_s].present? : default_values.include?(select_value.to_s) %>
      <%= label_tag field_name, select_value.to_s, class: "no-style" %>
      <br>
    <% end %>

  <% when 'radio' %>

    <% possible_values.each do |select_value| %>
      <%= radio_button_tag "issue[issue_template][section_groups_attributes][#{section_group.id}][#{group_index}][sections_attributes][#{section.id}][text]",
                           select_value,
                           values.present? ? values["text"] == select_value : default_values.first == select_value %>
      <%= label_tag "issue[issue_template][section_groups_attributes][#{section_group.id}][#{group_index}][sections_attributes][#{section.id}][text][#{select_value}]",
                    select_value,
                    value: select_value,
                    class: "no-style" %>
      <br>
    <% end %>

  <% when 'monovalue_select', 'multivalue_select' %>

    <%= select_tag "issue[issue_template][section_groups_attributes][#{section_group.id}][#{group_index}][sections_attributes][#{section.id}][text]",
                   options_for_select(possible_values, values.present? ? values['text'] : default_values),
                   style: "max-width: 40em;width:269px;",
                   multiple: section.select_type == 'multivalue_select' %>

  <% else %>
    PROBLEM
  <% end %>
</p>
