<%= issue_template_section_form(form, IssueTemplateSectionTextField, template) do %>
  <p>
    <%= form.text_field :title, :placeholder => "Titre", :label => 'Section courte', :size => 45, :required => true %>
  </p>
  <div class="collapsible">
    <p>
      <%= form.text_field :description, :placeholder => "Description", label: "Description", :size => 80 %>
    </p>
    <p>
      <%= form.text_field :text,
                          :accesskey => accesskey(:edit),
                          :label => "Valeur initiale",
                          :size => 80 %>
    </p>
    <p>
      <%= form.text_field :placeholder, label: "Valeur du placeholder", :size => 80 %>
    </p>
    <p>
      <%= form.text_field :empty_value, label: "Valeur par défaut", :size => 80 %>
    </p>
    <p>
      <%= form.check_box :required, label: "Champ obligatoire" %>
    </p>
  </div>
<% end %>
