<% if @project.present? && @project.module_enabled?('issue_tracking') && @project.issue_templates.present? && (Issue.allowed_target_trackers(@project) & @project.issue_templates.displayed_on_overview.map(&:tracker)).any? %>

  <div class="templates_cards">

    <% @project.issue_templates.displayed_on_overview.includes(:tracker).order('trackers.position desc, issue_templates.template_title desc').each do |template| %>

      <% if Issue.allowed_target_trackers(@project).include?(template.tracker) && template.template_projects.include?(@project) %>
        <div onclick="document.location.href='<%= new_project_issue_path(project_id: @project.identifier, template_id: template.id) %>'" class="template_card">
          <div class="template-logo">
            <% begin %>
              <%= template.template_image.present? ? octicon(template.template_image, :height => 48, :class => "right left", :"aria-label" => "hi") : octicon('repo-template', :height => 48, :class => "right left", :"aria-label" => "hi") %>
            <% rescue => e %>
              </div>
              <div class="error">
                Vérifiez le nom de l'octicon
                <br>
                <%= "('#{template.template_image}' n'existe pas)" %>
            <% end %>
          </div>
          <div class="template-title"><%= template.template_title %></div>
          <% if template.template_description.present? %>
            <div class="template-description"><%= textilizable template.template_description %></div>
          <% end %>
        </div>
      <% end %>

    <% end %>

  </div>

<% end %>
