<%= issue_template_section_form(form, IssueTemplateDescriptionDate, template) do %>
  <p>
    <%= form.text_field :title, :placeholder => "Titre (obligatoire)", :label => 'Date', :size => 45 %>
  </p>
  <div class="collapsible">
    <p>
      <%= form.text_field :description, :placeholder => "Description", label: "Description", :size => 80 %>
    </p>
    <p>
      <%= form.check_box :required, label: "Champ obligatoire" %>
    </p>
    <p>
      <%= form.select :select_type,
                      options_for_select(IssueTemplateDescriptionDate.select_types_options,
                                         selected: (form.object.present? ? form.object.select_type : '')),
                      label: "Format" %>
    </p>
  </div>
<% end %>
