<%= issue_template_section_form(form, IssueTemplateSectionGroup, template) do %>
  <p>
    <%= form.text_field :title, :placeholder => "Titre (facultatif)", :label => 'Groupe (titre facultatif)', :size => 45, :required => false %>
  </p>
  <div class="collapsible">
    <p>
      <%= form.check_box :repeatable, label: "Bloc répétable", onclick: "displayRepeatableButtonField(event)", class: "repeatable_checkbox" %>
    </p>
    <div style="display: none;">
      <p>
        <%= form.text_field :add_button_title,
                            :placeholder => t("add_repeatable_bloc"),
                            :label => t("add_repeatable_bloc_label"),
                            :size => 45,
                            :required => false %>
      </p>
      <p>
        <%= form.text_field :delete_button_title,
                            :placeholder => t("delete_repeatable_bloc"),
                            :label => t("delete_repeatable_bloc_label"),
                            :size => 45,
                            :required => false %>
      </p>
    </div>
    <p>
      <%= form.check_box :retracted, label: "Bloc escamoté par défaut" %>
    </p>

    <div class="sections">

      <% if !template %>
        <%= form.fields_for :sections do |section_form| %>
          <%= render partial: "issue_templates/sections/#{section_form.object.class.short_name}_form",
                     locals: { form: section_form, template: false } %>
        <% end %>
      <% end %>

    </div>
 
    <% locale = I18n.locale || I18n.default_locale %>
    <% options = I18n.t('new_section_options', locale: locale) %>
    <p data-target="split-description.add_buttons">
      <%= select_tag 'new_section',
                     options_for_select(options),
                     data: { target: "split-description.select_new_section_type" },
                     class: "select_new_section_type"
      %>
      <button class="icon icon-add link-cursor" data-action="split-description#addSection">Ajouter une section</button>
    </p>

    <%# Empty templates %>
    <% IssueTemplateSection.subclasses.each do |klass| %>
      <%= form.fields_for :sections_attributes, index: "$id_section$" do |section_form| %>
        <%= render partial: "issue_templates/sections/#{klass.short_name}_form",
                   locals: { form: section_form, template: true } %>
      <% end %>
    <% end %>

  </div>
<% end %>

<%= javascript_tag do %>
  function displayRepeatableButtonField(e){
    if(e.target.checked) {
        e.target.parentElement.nextElementSibling.style.display = "";
    } else {
        e.target.parentElement.nextElementSibling.style.display = "none";
    }
  }
<% end %>
