<%= issue_template_section_form(form, IssueTemplateSectionInstruction, template) do %>
  <p>
    <%= form.select :instruction_type, IssueTemplateSectionInstruction::TYPES.collect { |type| [ t(type), type ] }, :label => 'Consigne' %>
  </p>

  <div class="collapsible">
    <%= render partial: "issue_templates/sections/section_id", locals: {section: form.object} %>
    <p class="with-textarea">
      <% textarea_id = "issue_template_sections_attributes_text_#{form.index}_#{form.object.object_id}" %>
      <%= form.text_area :text,
                         :id => textarea_id,
                         :cols => 60,
                         :rows => (form.object&.text.blank? ? 10 : [[10, form.object.text.length / 50].max, 100].min),
                         :accesskey => accesskey(:edit),
                         :class => "wiki-edit",
                         :no_label => true,
                         :placeholder => "Obligatoire",
                         :data => {
                             "help-link" => "#{Redmine::Utils.relative_url_root}/help/#{current_language.to_s.downcase}/wiki_syntax_textile.html",
                             "preview-link" => preview_text_path
                         }
      %>
      <%= wikitoolbar_for textarea_id unless template %>

    </p>
  </div>
<% end %>
