<%= issue_template_section_form(form, IssueTemplateDescriptionSection, template) do %>
  <p>
    <%= label_tag 'Section' %>

    <%= form.text_field :title, :placeholder => "Titre (obligatoire)", :no_label => true, :size => 45 %>
    <%= link_to (template ? "Masquer les détails" : "Afficher les détails"), '#',
                class: 'expand_collapse',
                data: {action: "description-item-form#expand_collapse"} %>
  </p>
  <div class="collapsible">
    <p>
      <%= form.text_field :description, :placeholder => "Description", label: "Description", :size => 80 %>
    </p>
    <p class="with-textarea">
      <%= form.text_area :text,
                         :cols => 60,
                         :rows => (form.object&.text.blank? ? 10 : [[10, form.object.text.length / 50].max, 100].min),
                         :accesskey => accesskey(:edit),
                         :class => "wiki-edit",
                         :label => "Contenu initial",
                         :data => {
                             "help-link" => "#{Redmine::Utils.relative_url_root}/help/#{current_language.to_s.downcase}/wiki_syntax_textile.html",
                             "preview-link" => preview_text_path
                         }
      %>
      <%= wikitoolbar_for "issue_template_descriptions_attributes_#{form.index}_text" if !template %>
    </p>
    <p>
      <%= form.text_field :placeholder, :size => 80, label: "Valeur si non saisi" %>
    </p>
  </div>
<% end %>
