<% default_values = [] if default_values.blank? %>
<% empty_value = [] if empty_value.blank? %>
<% value = "" if value.blank? %>
<% icon_name = "" if icon_name.blank? %>
<li>
  <span class="icon-only icon-sort-handle"></span>
  <%= check_box_tag :checked, '1', default_values.include?(value) %>
  <span><%= text_field_tag 'value', value, size: 45, class: 'value' %></span>

  <span class="span-icons">
    <%= link_to 'Liste des icones compatibles', 'https://octicons.github.com', target: '_blank' %>
    <%= text_field_tag 'icon_name', icon_name, size: 45, class: 'buttons-icons' %>
  </span>

  <%= check_box_tag :read_only, '1', empty_value.include?(value) %><span style="cursor: default;"> <%= l(:read_only) %></span>

  <%= link_to 'Supprimer', '#', class: 'remove_possible_value' %>
</li>
