<%= issue_template_section_form(form, IssueTemplateDescriptionSelect, template) do %>
  <p>
    <%= form.text_field :title,
                        :placeholder => "Titre (obligatoire)",
                        :label => 'Liste de valeurs',
                        :size => 45 %>
  </p>
  <div class="collapsible">
    <p>
      <%= form.text_field :description, :placeholder => "Description", label: "Description", :size => 80 %>
    </p>
    <p>
      <label>Valeurs possibles</label>
      <% values = (form.object && form.object.text.present?) ? form.object.text.split(',') : [] %>
      <%= select_tag "possible_values_attributes[#{form.index}][possible_values]",
                     options_for_select(values, values),
                     {label: "Valeurs possibles",
                      multiple: true} %>
    </p>
    <p>
      <%= form.select :select_type,
                 options_for_select(IssueTemplateDescriptionSelect.select_types_options, selected: (form.object.present? ? form.object.select_type : '')),
                 label: "Type" %>
    </p>
  </div>
<% end %>
