<% @trackers = Tracker.sorted %>
<% unless @trackers.blank? %>
  <fieldset class="box tabular" id="filters_trackers">
    <legend><%= toggle_checkboxes_link('#filters_trackers input[type=checkbox]') %><%= l(:label_tracker_plural) %></legend>
    <% @trackers.each do |tracker| %>
      <label class="floating">
        <%= check_box_tag 'tracker_ids[]', tracker.id, 1, :id => nil %>
        <%= tracker_name_tag tracker %>
        <div style="display: inline-block;color: grey;font-size: smaller;" class="counters">
          <span class="count-enabled">0</span>/<span class="count-total">0</span>
        </div>
      </label>
    <% end %>
    <label style="display: none;"><%= check_box_tag 'tracker_ids[]', 0, 1, :id => nil %></label>
  </fieldset>
<% end %>

<fieldset class="box tabular" id="filters_template_enabled">
  <legend><%= toggle_checkboxes_link('#filters_template_enabled input[type=checkbox]') %><%= l(:field_template_enabled) %></legend>
  <label class="floating">
    <%= check_box_tag 'template_enabled[]', 1, 1, :id => nil %>
    <%= l('general_text_Yes') %>
  </label>
  <label class="floating">
    <%= check_box_tag 'template_enabled[]', 0, 1, :id => nil %>
    <%= l('general_text_No') %>
  </label>
</fieldset>

<%= javascript_tag do %>

  function update_template_counters() {
    var trackers_filters = $('#filters_trackers input[type=checkbox]');
    for(const tracker of trackers_filters){
      var templates_count = $('#templates_list .issue_template[data-tracker-id='+tracker.value+']').length
      $(tracker.parentElement).find('.count-total').html(templates_count)
      var enabled_templates_count = $('#templates_list .issue_template[data-tracker-id='+tracker.value+'][data-template-enabled=1]').length
      $(tracker.parentElement).find('.count-enabled').html(enabled_templates_count)
    }
  }

  function filter_templates() {
    $('#templates_list .issue_template').hide()
    var checked_trackers_ids = $('#filters_trackers input[type=checkbox]:checked').map(function() {
      return this.value
    })
    var checked_enabled_values = $('#filters_template_enabled input[type=checkbox]:checked').map(function() {
      return this.value
    })
    for(const checked_tracker_id of checked_trackers_ids){
      for(const checked_enabled_value of checked_enabled_values){
        $('#templates_list .issue_template[data-tracker-id='+checked_tracker_id+'][data-template-enabled='+checked_enabled_value+']').show()
      }
    }
    update_template_counters()
  }

  $(document).on("input change", "#filters_trackers input, #filters_template_enabled input", function() {
    filter_templates()
  })
  document.addEventListener('DOMContentLoaded', function() {
    filter_templates()
  })

<% end %>
