function startUpdate() {
  // Update all standard fields with template data
  <% @issue_template.attributes.each do |attr_name, attr_value|  %>
    <% if attr_value.present? %>
      $.each($('#issue-form').serializeArray(), function(i, field) {
        if (field.name == "<%= escape_javascript("issue[#{attr_name}]") %>"){
          $('[name="' + field.name + '"]').val("<%= raw(escape_javascript(attr_value.to_s)) %>");
        }
      });
    <% end %>
  <% end %>

    var secondary_projects = <%= @issue_template.secondary_projects.map(&:id).inspect %>;
    $.each(secondary_projects, function( index, value ) {
        $("#issue_project_ids option[value=" + value +"]").prop("selected",true);
    });

  // Show or hide some fields based on the new selected tracker, project or status, then update custom fields
  updateIssueFrom('<%= escape_javascript update_issue_form_path(@project, @issue) %>').done(updateCustomFieldsValues);
}

function updateIssueFrom(url) {
  $('#all_attributes input, #all_attributes textarea, #all_attributes select').each(function(){
    $(this).data('valuebeforeupdate', $(this).val());
  });
  return $.ajax({
    url: url,
    type: 'post',
    data: $('#issue-form').serialize()
  });
}

function updateCustomFieldsValues(data) {

  // Update all custom fields with template data
  <% @issue_template.editable_custom_field_values.each do |custom_value|  %>
  $.each($('#issue-form').serializeArray(), function(i, field) {
    if (field.name == "<%= "issue[custom_field_values][#{custom_value.custom_field_id}]" %>"){
      $('[name="' + field.name + '"]').val('<%= custom_value.value %>');
      <% unless custom_value.value.kind_of? Array %>
        $('[name="' + field.name + '"]').prop('checked', <%= custom_value.value.to_i > 0 ? 'true' : 'false' %>);
      <% end %>
    }
    if (field.name == "<%= "issue[custom_field_values][#{custom_value.custom_field_id}][]" %>"){
      <% if custom_value.value.kind_of? Array %>

        // checkboxes
        $('[name="'+field.name+'"]').each(function (index){
          elem = $('[name="'+field.name+'"]')[index];
          if ($.inArray(elem.value, '<%= custom_value.value.to_a.join(',') %>'.split(",") ) >= 0) {
            $('[name="' + elem.name + '"][value="'+elem.value+'"]').prop('checked', 'true');
          }
        });

        // select multivalue
        $('select[name="'+field.name+'"] option').each(function (index){
          elem = $('select[name="'+field.name+'"] option')[index];
          if ($.inArray(elem.value, '<%= custom_value.value.to_a.join(',') %>'.split(",") ) >= 0) {
            $('select[name="'+field.name+'"] option[value="'+elem.value+'"]').prop('selected', 'true');
          }
        });

      <% end %>
    }

  });
  <% end %>

  // Reset select box and tracker after applying a template
  resetTemplateSelectBox();
  $('#track_changes').val('false');
  $('#issue-form :input').change(function(){
    $('#track_changes').val('true');
  });

  // Notice the user after applying a template
  var $notice = $('<div class="flash notice" id="flash_notice"><%= l("template_has_been_applied", :name => @issue_template.template_title) %></div>').fadeIn(200);
  $notice.insertBefore( ".box" );
  $notice.delay(3000).fadeOut(300);

  $('#issue_subject').focus();
}

function resetTemplateSelectBox() {
  $('#select_issue_template')[0].selectedIndex = 0;
}
