<h3 class="title"><%=l(:field_project).pluralize%></h3>

<div class="actions_links">
  Sélection :
  <%= link_to l("select_all"), '#', id: "link_select_all", :onclick=> "select_all()" %>
  |
  <%= link_to l("select_none"), '#', id: "link_select_all", :onclick=> "select_none()" %>
</div>

<div class="columns" id="project_nested_list">
  <%= render_project_nested_lists(@issue_template.allowed_target_projects|@issue_template.projects) do |project|
    content_tag('label',
                check_box_tag(
                    'project_ids[]',
                    project.id,
                    @issue_template != nil && @issue_template.projects.include?(project),
                    disabled: @issue_template.allowed_target_projects.include?(project) ? false : true,
                    :class => ("inactive" unless @issue_template.allowed_target_projects.include?(project))
                ) + ' ' + h(project.name), :class => ("inactive" unless @issue_template.allowed_target_projects.include?(project))
    )
  end %>
</div>

<p class="buttons">
  <%= submit_tag l(:button_apply), :name => nil, :onclick => "updateSelectedProjects();hideModal(this);", :type => 'button', :id=> 'button_apply_projects' %>
</p>

<script type="text/javascript">

  function updateSelectedProjects() {
    $("select#issue_template_project_ids option").each(function() { this.selected = ""; });
    var htmlContent = "";
    $("input:checkbox[name='project_ids[]']:checked").each(function()
    {
      $("#issue_template_project_ids option[value=" + $(this).val() +"]").attr("selected","selected");
    });
    $("input:checkbox[name='project_ids[]']:checked:not(.inactive)").each(function()
    {
      htmlContent += "<span class=\"list_templates_projects_names\">"+ $(this).closest('label').text() + "</span>";
    });
    $("#my_projects").html(htmlContent);
  }

  function select_all(){
    $("input:checkbox[name='project_ids[]']").each(function()
    {
      $(this).attr("checked","checked") ;
    });
  }

  function select_none(){
    $("input:checkbox[name='project_ids[]']:checked:not(.inactive)").each(function()
    {
      $(this).attr("checked",false) ;
    });
  }

</script>
