<% html_title(l(:label_issue_templates)) %>

<div class="contextual">
  <% if @project %>
    <%= link_to(l(:label_new_templates),
                { :controller => 'issue_templates', :action => 'init', :project_id => @project },
                :class => 'icon icon-add', :method => :post) %>
  <% else %>
    <%= link_to(l(:label_new_templates), new_issue_template_path, class: 'icon icon-add') %>
  <% end %>
</div>

<h2 class="template"><%= h "#{l(:label_issue_templates)}" %></h2>

<% if @notice -%>
  <div class="flash notice"><%= @notice -%></div>
<% end -%>

<div id="template_filters">
  <%= render "issue_templates/filters", plugin: :redmine_templates %>
</div>

<% if @templates.empty? %>
  <div class="template_box">
    <%= l(:no_issue_templates_for_this_project) %>
  </div>
<% else %>

  <div class="template_box">

    <table class="list issues" id="templates_list">
      <thead>
      <tr>
        <th class="template_icon"></th>
        <th class="template_title"><%= l(:field_template_title) %></th>
        <th class="template_id"><%= l(:field_tracker) %></th>
        <th class="template_subject"><%= l(:field_subject) %></th>
        <th class="template_projects"><%= l(:field_project).pluralize %></th>
        <th class="template_usage"><%= l(:usage) %></th>
        <th class="template_issues_count"><%= l(:issues_count) %></th>
        <% if Setting["plugin_redmine_templates"]["disable_templates"] %>
          <th class="center template_enable"><%= l(:label_enabled) %></th>
        <% end %>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @templates.each do |issue_template| %>
        <%= render 'list_template', issue_template: issue_template  %>
      <% end %>
      <% reset_cycle %>
      </tbody>
    </table>
  </div>

<% end %>
