<% html_title(l(:label_issue_templates)) %>

<div class="contextual">
  <% if @project %>
    <%= link_to(l(:label_new_templates),
                {:controller => 'issue_templates', :action => 'init', :project_id => @project},
                :class => 'icon icon-add', :method => :post) %>
  <% else %>
    <%= link_to(l(:label_new_templates), new_issue_template_path, class: 'icon icon-add') %>
  <% end %>
</div>

<h2 class="template"><%= h "#{l(:label_issue_templates)}" %></h2>

<% if @notice -%>
  <div class="flash notice"><%= @notice -%></div>
<% end -%>

<% if @templates.empty? %>
  <div class="template_box">
    <%= l(:no_issue_templates_for_this_project) %>
  </div>
<% else %>

  <div class="template_box">

    <table class="list issues" id="templates_list">
      <thead>
      <tr>
        <th class="template_icon"></th>
        <th class="template_title"><%= l(:field_template_title) %></th>
        <th class="template_id"><%= l(:field_tracker) %></th>
        <th class="template_subject"><%= l(:field_subject) %></th>
        <th class="template_projects"><%= l(:field_project).pluralize %></th>
        <th class="template_usage"><%= l(:usage) %></th>
        <% if Setting["plugin_redmine_templates"]["disable_templates"] %>
          <th class="center template_enable"><%= l(:label_enabled) %></th>
        <% end %>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @templates.each do |issue_template| %>
        <tr class="issue_template issue">
          <% link_to_edition = Proc.new do |label, title|
            size_max = 40
            label = "#{label.first(size_max)}..." if label.size > size_max
            link_to label.html_safe, {:controller => 'issue_templates',
                                      :action => 'edit',
                                      :id => issue_template.id
                                      # ,:project_id => project.id
            }, {:title => title }
          end %>
          <td><%= image_tag 'icons8-form-50.png', plugin: 'redmine_templates' if issue_template.custom_form? %></td>
          <td><%= link_to_edition.call h(issue_template.template_title), issue_template.template_title %></td>
          <td><%= link_to_edition.call h(issue_template.tracker.name), issue_template.tracker.name %></td>
          <td><%= link_to_edition.call h(issue_template.subject), issue_template.subject %></td>
          <td class="template_projects">
            <div>
              <%
                nb_other_projects = 0
                nb_visible_projects = 0
                template_projects = issue_template.template_projects.all
                allowed_projects = issue_template.allowed_target_projects
              %>
              <% template_projects.each do |project| %>
                <% if allowed_projects.include?(project) %>
                  <%= link_to project.name.gsub(/ /, "&nbsp;").html_safe,
                              "#",
                              class: "project_id_#{project.id} list_templates_projects_names #{@project && @project == project ? "current" : ""}",
                              :onclick => "$('.list_templates_projects_names').removeClass('current');$(\".project_id_#{project.id}\").toggleClass('current')"
                  %>
                  <% nb_visible_projects += 1 %>
                <% else %>
                  <% nb_other_projects += 1 %>
                <% end %>
              <% end %>
              <% if nb_other_projects > 0 %>
                <span class="list_templates_other_projects">
                  <% if nb_visible_projects > 0 %>
                    <%= l("support.array.sentence_connector") %>
                    <%= pluralize(nb_other_projects, l("other")) %>
                    <%= nb_other_projects > 1 ? l("project").pluralize : l("project") %>
                  <% else %>
                    <%= pluralize(nb_other_projects, l("project")) %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </td>
          <td><%= issue_template.usage %></td>
          <% if Setting["plugin_redmine_templates"]["disable_templates"] %>
            <td class="center image_enabled_<%= issue_template.id %>">
              <%= render "issue_templates/enable_form", issue_template: issue_template %>
            </td>
          <% end %>
          <td class="buttons">
            <% if true #User.current.allowed_to?(:manage_templates, project) %>
              <%= link_to l(:button_edit), edit_issue_template_path(id: issue_template.id
              #, project_id: project.id
              ), :class => 'icon icon-edit' %>
              <% if User.current.admin || (issue_template.template_projects - User.current.projects).empty? %>
                <%= delete_link issue_template_path(issue_template) %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% reset_cycle %>
      </tbody>
    </table>
  </div>

<% end %>
