<% html_title(l(:label_issue_templates)) %>

<div class="contextual">
  <%= link_to(l(:label_new_templates),
                            {:controller => 'issue_templates', :action => 'init', :project_id => @project},
                            :class => 'icon icon-add', :method => :post) %>
</div>

<h2 class="template"><%=h "#{l(:label_issue_templates)}" %></h2>

<% if @notice -%>
  <div class="flash notice"><%= @notice -%></div>
<% end -%>


<% if @template_map.empty? %>
  <div class="template_box">
    <%= l(:no_issue_templates_for_this_project) %>
  </div>
<% end %>

<% @template_map.each_key do |tracker| %>
  <div class="template_box">
    <h3 class="template_tracker"><%= tracker.name %></h3>

    <table class="list issues">
      <thead>
      <tr>
        <th class="template_id"><%= l(:id) %></th>
        <th class="template_title"><%= l(:field_template_title) %></th>
        <th class="template_subject"><%= l(:field_subject) %></th>
        <th class="template_author"><%= l(:field_author) %></th>
        <th class="template_update"><%= l(:field_updated_at) %></th>
        <th class="template_enable"><%= l(:label_enabled) %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @template_map[tracker].each do |issue_template| %>
        <tr class="<%= cycle("odd", "even") %> issue_template issue">
          <% link_to_edition = Proc.new do |label, title|
            size_max = 40
            label = "#{label.first(size_max)}..." if label.size > size_max
            link_to label, {:controller => 'issue_templates',
                            :action => 'edit',
                            :id => issue_template.id,
                            :project_id => @project.id
                            }, {:title => title }
            end %>
          <td><%= link_to_edition.call h(issue_template.id), issue_template.template_title %></td>
          <td><%= link_to_edition.call h(issue_template.template_title), issue_template.template_title %></td>
          <td><%= link_to_edition.call h(issue_template.subject), issue_template.subject %></td>
          <td><%= h issue_template.author %></td>
          <td><%= format_time(issue_template.updated_at)%> </td>
          <td class="center"><%= checked_image issue_template.template_enabled? %></td>
          <td class="buttons">
            <% if true  #User.current.allowed_to?(:manage_categories, @project) %>
              <%= link_to l(:button_edit), edit_issue_template_path(id: issue_template.id, project_id: @project.id), :class => 'icon icon-edit' %>
              <%= delete_link issue_template_path(issue_template) %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% reset_cycle %>
      </tbody>
    </table>
  </div>
<% end %>